*.o
*.dSYM
*.csv
*.out
*.png
*.jpg
*.pyc
*.log
*.so
*.a
old/
mnist/
data/
weights/
results/
backup/
caffe/
grasp/
images/
opencv/
convnet/
decaf/
submission/
cfg/
darknet
.fuse*
Makefile

# OS Generated #
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
*.swp
